*.pyc
*.pyo
*.mo
*.db
*.log
.idea/
.DS_Store
.git/
__pycache__
Dockerfile
.gitignore
docker-compose.yaml
.dockerignore
static/
deploy.sh
.gitlab-ci.yml
nginx.conf
.flake8

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/